.mr-5 {
    margin-right: 5px;
}

.ml-5 {
    margin-left: 5px;
}

.w-100 {
    width: 100px;
}

.w-150 {
    width: 150px;
}

.w-250 {
    width: 250px;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: white;
}

h1 {
    font-family: 'Lato', sans-serif;
}

h3 {
    font-family: 'Open Sans', sans-serif;
}

a {
    color: #4285F4;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
}

a:hover {
    color: #F4B400;
    text-decoration: none;
}

ul {
    margin-left: 19px;
    padding: 0;
}

ol {
    list-style-type: none;
    padding: 0;
}

.bigpic {
    width: 97%;
    display: block;
    margin: auto;
}

.logo {
    float: left;
    width: 25%;
    height: 40%;
    padding-top: 1%;
    padding-right: 3%;
    padding-bottom: 1%;
    padding-left: 0%;
}

.intro {
    margin-top: -1em;
}

.intro1 {
    margin-top: -1em;
    font-size: 90%;
}

table.latest td.col1 {
    width: 20%;
    align='left';
}

table.latest td.col2 {
    width: 70%;
    align='left';
}

.detail {
    font-size: 0.9em;
}

.date {
    font-size: 0.8em;
    color: #999999;
    font-weight: bold;
}

.occasions {
    float: right;
    max-width: 45%;
    height: auto;
    width: auto;
    padding-top: 1%;
    padding-right: 0%;
    padding-bottom: 1%;
    padding-left: 4%;
}

.occasionsDesp {
    margin-top: -1em;
}

.supasmall {
    font-size: 75%;
    float: right;
    max-width: 45%;
    height: auto;
    width: auto;
    padding-left: 4%;
}

.mapbackground {
    width: 97%;
    display: block;
    margin: auto;
    position: relative;
    top: 0;
    left: 0;
}

.map {
    position: absolute;
    top: 20%;
    left: 7%;
}

.footer {
    text-align: center;
}

.smlogo {
    margin: auto;
    width: 40px;
}

#table {
    width: 75%;
    border: 3px solid #F4B400;
    border-spacing: 3px;
    margin: auto;
    border-collapse: collapse;
}

#table th {
    height: 40px;
    font-weight: bold;
    padding: 2px;
    text-align: center;
    border: 1px solid #F4B400;
}

#table td {
    padding: 2px;
    text-align: center;
    border: 1px solid #F4B400;
}

#space {
    margin-left: 1%;
}

#recursive {
    font-size: 300%;
    font-family: 'Dancing Script', cursive;
}

#recursive2 {
    font-size: 150%;
    font-family: 'Dancing Script', cursive;
    margin-left: 5%;
}

#copyright {
    font-size: 1em;
}

#form {
    width: 75%;
    margin: auto;
    border: 3px solid #F4B400;
    padding: 10px;
}

#form legend {
    font-weight: bold;
    text-align: center;
    color: #666666;
    margin-bottom: 5px;
}

#form label {
    font-weight: bold;
    text-align: center;
}

#tableimg {
    max-width: 100%;
    width: auto;
    height: auto;
}

.topBar {
    background-color: #ffffff;
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
    font-size: 13px;
}

.topBar ul {
    margin: 0;
}

.topBar ul li {
    line-height: 42px;
}

.topBar a {
    color: #4285F4;
    text-decoration: none;
}

.text-primary {
    color: #4285F4;
}

.topBar ul.topBarNav {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.topBar ul.topBarNav li {
    position: relative;
    display: inline-block;
    margin-right: -4px;
    border-right: 1px solid rgba(0, 0, 0, 0.08);
}

.topBar ul.topBarNav li:last-child {
    border-right: none;
}

.topBar ul.topBarNav li a {
    display: block;
    padding-left: 12px;
    padding-right: 12px;
}

.topBar ul.topBarNav li ul {
    background-color: #ffffff;
    position: absolute;
    top: 42px;
    left: auto;
    min-width: 10px;
    right: 4px;
    border-radius: 0px;
    border: solid 0px;
    margin-right: -4px;
    padding: 0;
    list-style-type: none;
    z-index: 9999;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
    -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.08);
    -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.08);
    -ms-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.08);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.08);
}

.topBar ul.topBarNav li ul li {
    display: block;
    line-height: 30px;
    width: 100%;
    border: none;
}

.topBar ul.topBarNav li a {
    display: block;
    padding-left: 12px;
    padding-right: 12px;
}

.topBar .dropdown-menu>li>a {
    display: block;
    padding: 6px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.42857143;
    color: #878c94;
    font-size: 15px white-space: nowrap;
}

.topBar .dropdown-menu>li>a:hover,
.dropdown-menu>li>a:focus {
    color: #4285F4;
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.02);
}


/*CART/////////////////////*/

.cart-items::-webkit-scrollbar {
    width: 6px;
    background-color: #ECECEC;
}

.cart-items::-webkit-scrollbar-track {}

.cart-items::-webkit-scrollbar-thumb {
    background-color: #4285F4;
    outline: 1px solid black;
}

.topBar ul.topBarNav li ul.cart .cart-items {
    padding: 10px;
    height: 200px;
    overflow: auto;
}

.topBar ul.topBarNav li ul.cart .cart-items .items {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.topBar ul.topBarNav li ul.cart .cart-items .items li {
    overflow: hidden;
    clear: left;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.topBar ul.topBarNav li ul.cart .cart-items .items li .product-image {
    width: 60px;
    float: left;
}

.topBar ul.topBarNav li ul.cart .cart-items .items li a {
    margin: 0;
    padding: 0;
    line-height: normal;
    background-color: transparent;
    display: inline;
}

.topBar ul.topBarNav li ul.cart .cart-items .items li .product-details {
    position: relative;
    margin-left: 60px;
    padding: 0 15px 0 10px;
}

.topBar ul.topBarNav li ul.cart .cart-items .items li .product-details .close-icon {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 10px;
    line-height: normal;
}

.topBar ul.topBarNav li ul.cart .cart-footer {
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.02);
}

.topBar ul.topBarNav li ul.cart .cart-footer a {
    text-align: center;
    padding: 10px 20px;
    margin: 0;
    background-color: transparent;
}


/*/////////////////////////middleBar//////////////////////*/

.middleBar {
    padding: 10px 0 0 0;
    margin: 0;
    min-height: 70px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
}

@media (min-width: 767px) {
    .display-table {
        display: table;
        width: 100%;
    }
    .vertical-align {
        display: table-cell;
        vertical-align: middle;
        float: none;
    }
    .grid-space-1 div[class*="col-"] {
        padding: 0 1px;
    }
}

@media (max-width: 767px) {
    div[class^="col-"] {
        margin-bottom: 30px;
    }
}

.middleBar .form-control {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    box-shadow: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    border-radius: 0;
    border: 1px solid rgba(0, 0, 0, 0.15);
    background-color: #ffffff;
    -webkit-transition: all 0.1s ease-in;
    -moz-transition: all 0.1s ease-in;
    -ms-transition: all 0.1s ease-in;
    -o-transition: all 0.1s ease-in;
    transition: all 0.1s ease-in;
}

.form-control.input-lg {
    font-size: 15px;
}

.middleBar .btn.btn-default {
    color: #ffffff;
    background-color: #4285F4;
    border: 1px solid #4285F4;
    border-radius: 0px;
}

.middleBar .header-items .header-item {
    display: inline-block;
}

.middleBar .header-items .header-item a {
    position: relative;
    display: block;
    border: 1px solid rgba(0, 0, 0, 0.08);
    width: 40px;
    height: 40px;
    line-height: 40px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    border-radius: 100%;
    text-align: center;
    color: #35404f;
}

.middleBar .header-items .header-item a sub {
    position: absolute;
    bottom: -8px;
    right: -8px;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    background-color: #4285F4;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    border-radius: 100%;
    color: #ffffff;
    font-size: 9px;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}

.middleBar .header-items .header-item a:hover {
    background-color: #4285F4;
    color: #ffffff;
}


/*/////////////////////////navbar-default///////////////*/

.navbar-default {
    -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    margin-bottom: 0;
    border: none;
}

.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:hover,
.navbar-default .navbar-nav>.open>a:focus {
    color: #4285F4;
    background-color: transparent;
}

.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:hover,
.navbar-default .navbar-nav>.open>a:after {
    border-top: solid 2px#4285F4;
}

.navbar-default .dropdown-menu {
    padding: 0;
    font-size: 14px;
    background-color: #ffffff;
    color: #878c94;
    border: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.08);
    -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.08);
    -ms-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.08);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.08);
    -webkit-transition: all 0.1s ease-in;
    -moz-transition: all 0.1s ease-in;
    -ms-transition: all 0.1s ease-in;
    -o-transition: all 0.1s ease-in;
    transition: all 0.1s ease-in;
}

.dropdown-menu>li>a {
    display: block;
    padding: 6px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.42857143;
    color: #878c94;
    white-space: nowrap;
}

.dropdown-menu>li>a:hover {
    color: #4285F4;
}


/***********************
     megaDropMenu
////////////////////////////*/

.navbar-default .container {
    position: relative;
}

.navbar-default .navbar-collapse li.dropdown.megaDropMenu {
    position: static;
}

.navbar-default .navbar-collapse li.dropdown.megaDropMenu .dropdown-menu {
    width: 100%;
}

.navbar-default .navbar-collapse li.dropdown.megaDropMenu .dropdown-menu li ul li:first-child {
    padding: 20px 0px 5px 15px;
    font-size: 16px;
    text-transform: uppercase;
    /* text-align: center; */
    color: #4285F4;
}

.navbar-default .navbar-collapse li.dropdown.megaDropMenu .dropdown-menu li ul li a {
    display: block;
    color: #878c94;
    font-size: 14px;
    text-decoration: none;
    padding: 8px 15px;
}

.navbar-default .navbar-collapse li.dropdown.megaDropMenu .dropdown-menu li ul li a:hover {
    color: #4285F4;
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.02);
}

.navbar-default .navbar-collapse li.dropdown.megaDropMenu .dropdown-menu img {
    display: block;
    max-width: 100%;
    padding: 20px;
}

.storeImg {
    height: 30vh;
    width: 30vh;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.storeText {
    text-align: center;
}

.star {
    color: yellow;
}

.colorCube {
    width: 1.5vw;
    height: 1.5vw;
    margin-right: 0.5vw;
}

.centeredDiv {
    display: flex;
    text-align: right;
    justify-content: center;    
}

.brown {
    background-color: #804418;
}

.blue {
    background-color: #3D67B8;
}

.black {
    background-color: black;
}

.gray {
    background-color: gray;
}

.red {
    background-color: #b22524;
}

.orange {
    background-color: #f88379;
}

.clickable {
    text-decoration-color: none;
    color: black;
}

.clickable:hover {
    text-decoration-color: none;
    color: black;
}


.storeDisplayImgS {
    width: 6vw;
}

.storeDisplayImg {
    width: 30vw;
    height: 30vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.orderForm {
    text-align: center;
}

.selectedColor {
    border:2px solid orange;
}

.addToCartButton {
    width: 50%;
    background-color: #008080;
    color: white;
    font-size: 1.5em;
    border-radius: 2em;
    border: none;
}

.hide {
    display: none;
}

#searchResults h3 {
    color: #4a69c8;
}